[default]
api_keystring = "your_etsy_api_keystring_here"
access_token = ""
refresh_token = ""
expires_at = 0

[shop1]
api_keystring = "shop1_keystring"
access_token = ""
refresh_token = ""
expires_at = 0
